doctype
html
    head
        title="example redux"
        link(rel="stylesheet",href="/static/css/main.css")

        body
            h1 welcome to React  Redux!
            div(id="app")
            script(src="/static/bundle.js",  type="text/javascript")